h1 {
    text-align: center;
    font-size: 500%;
    font-family: 'Courier New', Courier, monospace;
}

p { width: 500px;
    text-align: start;
    margin: auto;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

video { margin: auto;
    